#check{
  box-sizing: border-box;
  font-family: $default_font;
  position: relative;
  z-index: 100;
  background-color: #EFF8FF;
  padding: 80px 0;
  .top_half{
    @include Flexible(flex-start, center,column, wrap, 4px);
    margin-top: 30px;
    .tp{
      @include Flexible(flex-start, center,row, wrap, 4px);
      i{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #1E84B5;
        margin-bottom: 10px;
      }
      h3{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #1E84B5;
       
        margin-bottom: 10px;
      }
    }
    .cent{
      @include Flexible(flex-start, flex-start,column, wrap, 0);
      .topp{
        @include Flexible(flex-start, center, row, wrap, 10px);
        h1{
          font-size: 44px;
          font-weight: 700;
          color: #1E84B5;
          line-height: 1.2em;
        }
        h2{
          font-size: 44px;
          font-weight: 700;
          line-height: 1.2em;
        }
      }
    }
    .bot{
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;
      color: #527282;
      line-height: 1.8em;
    }
    .four{
      @include Flexible(space-around, center, row, wrap, 90px);

      margin-top: 35px;
    .two{
      h1{
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #0E384C;
        i{
         margin-right: 13px;
         color: #1E84B5;
         font-weight: 900;
         font-size: 23px;
        }
      }
    }
    .sec{
     
      h1{
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #0E384C;
        i{
         margin-right: 15px;
         color: #1E84B5;
         font-weight: 900;
         font-size: 23px;
        }
      }
    }
    }
  }
  .cards {
    @include Flexible(space-around, center, column, wrap, 0);
    margin-top: 60px;
  
    .first_card {
      border: transparent;
      transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
      background-color: #FFFFFF;
      width: 403px;
      height: 266px;
      position: relative;
      box-shadow: 0px 4px 40px 0px #0000000F;
      border-radius: 30px;
      margin-bottom: 30px;
     transition: 0.5s ease-in-out;
      overflow: hidden;
      z-index: 1;
  
      img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
    .icons-box {
      @include Flexible(center, center,row, wrap, 12px);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
    
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      transform: translateY(100%);
      opacity: 0;
      z-index: 2;
     
    }
    
    .first_card:hover .icons-box {
      transform: translateY(-50%);
      opacity: 1;
    }
    
    .idk{
      @include Flexible(center, center,row, wrap, 5px);
      width: 40px;
      height: 40px;
      border-radius: 6px;
      align-items: center;
      background-color: #0E384C;
      position: relative;
    }
    .idk i {
      position: absolute;
      text-align: center;
      padding: 4px;
      font-size: 24px;
      color: #ffffff;
      align-items: center;
      justify-content: center;
    }
    
  }
  }

  
    .sents{
      @include Flexible(flex-start, flex-start, row, wrap, 0);
      h1{
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 15px;
        line-height: 1em;
        color: #0E384C;
      }
      p{
        text-transform: capitalize;
        line-height: 1.6em;
        font-size: 16px;
        font-weight: 400;
        color: #527282;
      }
    }
    .read_more_btn {
      @include Flexible(flex-start, center, row, wrap, 10px);
      margin-top: 20px;
      width: 100%; 
    }
    
    .read_more_btn h2 {
      color: #1E84B5;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;
      line-height: 1.2em;
    }
    
    .read_more_btn .icon {
      @include Flexible(center, center, row, wrap, 0);
      height: 27px;
      width: 27px;
      border: transparent;
      border-radius: 100%;
      background-color:#1E84B5;
    }
    
    .read_more_btn i {
      color: white;
    }
     
