#journey {
  box-sizing: border-box;
  font-family: $default_font;
  position: relative;
  z-index: 100;
  background-color: #FFFFFF;
  padding: 80px 0;

  .img_part {
    width: 570px;
    height: 600px;
    position: relative; 

    .top_img {
      position: relative; 
      
      img {
        object-fit: cover;
        border-radius: 40px;
       
    
      }
    }

    .bottom_img {
      position: absolute; 
      left: 200px; 
      top: 50%; 
      z-index: 1; 
      border-radius: 45px;
      border: 7px solid white;
      
      img {
        object-fit: cover;
        border-radius: inherit;
        width: 100%;
        height: auto;
      }
    }

    .center_img {
      position: absolute; 
      left: 73%; 
      top: 27%; 
      transform: translate(-50%, -50%); 
      z-index: 2; 
      
      
      img {
        object-fit: cover;
        border-radius: 40px;
        width: 100%; 
        height: auto;
      }
    }
  }
  .other_part{
    @include Flexible(flex-start, center,row, wrap, 4px);
    margin-top: 50px;
    .tp{
      @include Flexible(flex-start, center,row, wrap, 4px);
      i{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #1E84B5;
        margin-bottom: 10px;
      }
      h3{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #1E84B5;
       
        margin-bottom: 10px;
      }
    }
    .cent{
      @include Flexible(flex-start, flex-start,column, wrap, 0);
      .topp{
        @include Flexible(flex-start, center, row, wrap, 5px);
        h1{
          font-size: 44px;
          font-weight: 700;
          color: #1E84B5;
          line-height: 1.2em;
        }
        h2{
          font-size: 44px;
          font-weight: 700;
          line-height: 1.2em;
        }
      }
      .bottm{
        @include Flexible(flex-start, center, row, wrap, 5px);
        h1{
          font-size: 44px;
          font-weight: 700;
          line-height: 1.2em;
        }
      }
    }
    .bot{
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;
      color: #527282;
      line-height: 1.8em;
    }
    .four{
      @include Flexible(space-around, center, row, wrap, 90px);

      margin-top: 35px;
    .two{
      h1{
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #0E384C;
        i{
         margin-right: 13px;
         color: #1E84B5;
         font-weight: 900;
         font-size: 23px;
        }
      }
    }
    .sec{
     
      h1{
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #0E384C;
        i{
         margin-right: 15px;
         color: #1E84B5;
         font-weight: 900;
         font-size: 23px;
        }
      }
    }
    }
  }
  .cont{
    @include Flexible(flex-start, center, row, wrap, 10px);
    width: 350px;
    @media (max-width: 768px) {
      width: 80%; 
      @include Flexible(center, center, column, wrap, 10px); 
    }
    
  
    @media (max-width: 480px) {
      width: 100%; 
      @include Flexible(center, center, column, wrap, 5px); 
    }
   
  
    .btn_icon{
      @include Flexible(center, center, row, wrap, 10px);
      border: transparent;
      padding: 13px 19px;
      border-radius: 26px;
      background: linear-gradient(to right, #0E384C 50%, transparent 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
      cursor: pointer;
      text-align: center;
      background-color: #1E84B5;
      margin: 30px 0;
    
      &:hover {
        background-position: left bottom;
        color: #fff;
       
      }
    
      a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.5em;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
        
      }
     
    .icon{
      @include Flexible(center, center, row, wrap, 0);
      height: 27px;
      width: 27px;
      border: transparent;
      border-radius: 100%;
      background-color: white;
      i{
        color: #1E84B5;
        
      }
    }
    
    }
  
   }
}
